<section class="events-section section-padding" id="events">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="section-title">
            <div class="vertical-line">
              <span>
                <i class="fi flaticon-two"></i>
              </span>
            </div>
            <h2>Wedding events</h2>
          </div>
        </div>
      </div>
      <!-- end section-title -->

      <div class="row">
        <div class="col col-lg-10 col-lg-offset-1">
          <div class="event">
            <div class="img-holder">
              <img src="assets/images/events/img-1(2).jpg" alt="" class="img img-responsive">
            </div>
            <div class="details">
              <h3>The reception</h3>
              <ul>
                <li>
                  <i class="fa fa-map-marker"></i> 32 big bro road, Chanpai, London.</li>
                <li>
                  <i class="fa fa-clock-o"></i> Nov 25 2017, 9AM - 5PM</li>
              </ul>
              <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
              <a class="see-location-btn popup-gmaps" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d25211.21212385712!2d144.95275648773628!3d-37.82748510398018!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642af0f11fd81%3A0x5045675218ce7e0!2zTWVsYm91cm5lIFZJQyAzMDA0LCDgpoXgprjgp43gpp_gp43gprDgp4fgprLgpr_gpq_gprzgpr4!5e0!3m2!1sbn!2sbd!4v1503742051881">
                See location
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
          <div class="event">
            <div class="img-holder">
              <img src="assets/images/events/img-2(2).jpg" alt="" class="img img-responsive">
            </div>
            <div class="details">
              <h3>Wedding party</h3>
              <ul>
                <li>
                  <i class="fa fa-map-marker"></i> 32 big bro road, Chanpai, London.</li>
                <li>
                  <i class="fa fa-clock-o"></i> Nov 25 2017, 9AM - 5PM</li>
              </ul>
              <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
                not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                </p>
              <a class="see-location-btn popup-gmaps" href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3152.0160484383277!2d144.99053291585201!3d-37.81309307975254!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6ad642ef89a7e023%3A0xb1353055e38c1ab8!2sNew+York+Tomato+Cafe!5e0!3m2!1sbn!2sbd!4v1503743893919">
                See location
                <i class="fa fa-angle-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>