<section class="gallery-section section-padding" id="gallery">
    <div class="container">
      <div class="row">
        <div class="col col-xs-12">
          <div class="section-title">
            <div class="vertical-line">
              <span>
                <i class="fi flaticon-two"></i>
              </span>
            </div>
            <h2>Our gallery</h2>
          </div>
        </div>
      </div>
      <!-- end section-title -->

      <div class="row">
        <div class="col col-xs-12 sortable-gallery">
          <div class="gallery-filters">
            <ul>
              <li>
                <a data-filter="*" href="#"
                  class="current">All</a>
              </li>
              <li>
                <a data-filter=".wedding" href="#">Wedding</a>
              </li>
              <li>
                <a data-filter=".ceremony" href="#">Ceremony</a>
              </li>
              <li>
                <a data-filter=".party" href="#">Party</a>
              </li>
            </ul>
          </div>

          <div class="gallery-container gallery-fancybox masonry-gallery" style="position: relative; height: 1046.23px;">
            <div class="grid wedding" style="position: absolute; left: 0%; top: 0px;">
              <a href="assets/images/gallery/img-1(5).jpg" class="fancybox" data-fancybox-group="gall-1">
                <img src="assets/images/gallery/img-1(5).jpg" alt="" class="img img-responsive">
              </a>
            </div>
            <div class="grid wedding ceremony" style="position: absolute; left: 33.2468%; top: 0px;">
              <a href="assets/images/gallery/img-2(5).jpg" class="fancybox" data-fancybox-group="gall-1">
                <img src="assets/images/gallery/img-2(5).jpg" alt="" class="img img-responsive">
              </a>
            </div>
            <div class="grid ceremony eudcation" style="position: absolute; left: 66.5801%; top: 0px;">
              <a href="assets/images/gallery/img-3(3).jpg" class="fancybox" data-fancybox-group="gall-1">
                <img src="assets/images/gallery/img-3(3).jpg" alt="" class="img img-responsive">
              </a>
            </div>
            <div class="grid wedding party" style="position: absolute; left: 0%; top: 261px;">
              <a href="assets/images/gallery/img-4(2).jpg" class="fancybox" data-fancybox-group="gall-1">
                <img src="assets/images/gallery/img-4(2).jpg" alt="" class="img img-responsive">
              </a>
            </div>
            <div class="grid ceremony" style="position: absolute; left: 33.2468%; top: 292px;">
              <a href="assets/images/gallery/img-5(3).jpg" class="fancybox" data-fancybox-group="gall-1">
                <img src="assets/images/gallery/img-5(3).jpg" alt="" class="img img-responsive">
              </a>
            </div>
            <div class="grid party" style="position: absolute; left: 66.5801%; top: 372px;">
              <a href="assets/images/gallery/img-6(2).jpg" class="fancybox" data-fancybox-group="gall-1">
                <img src="assets/images/gallery/img-6(2).jpg" alt="" class="img img-responsive">
              </a>
            </div>
            <div class="grid wedding" style="position: absolute; left: 33.2468%; top: 628px;">
              <a href="assets/images/gallery/img-7(1).jpg" class="fancybox" data-fancybox-group="gall-1">
                <img src="assets/images/gallery/img-7(1).jpg" alt="" class="img img-responsive">
              </a>
            </div>
            <div class="grid ceremony" style="position: absolute; left: 66.5801%; top: 634px;">
              <!--  <a href="images/gallery/img-8.jpg" class="fancybox" data-fancybox-group="gall-1">
                              <img src="images/gallery/img-8.jpg" alt class="img img-responsive">
                          </a> -->
              <a href="https://www.youtube.com/embed/XSGBVzeBUbk?autoplay=1" data-type="iframe" class="video-play-btn">
                <img src="assets/images/gallery/img-8(1).jpg" alt="" class="img img-responsive">
                <i class="fa fa-play"></i>
              </a>

            </div>
            <div class="grid ceremony" style="position: absolute; left: 0%; top: 709px;">
              <a href="assets/images/gallery/img-9.jpg" class="fancybox" data-fancybox-group="gall-1">
                <img src="assets/images/gallery/img-9.jpg" alt="" class="img img-responsive">
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- end row -->
    </div>
    <!-- end container -->
  </section>