<section class="count-down-section section-padding parallax" data-bg-image="assets/images/countdown-bg.jpg" data-speed="7"
  style="background-image: url(&quot;assets/images/countdown-bg.jpg&quot;); background-position: 50% -277.571px; background-size: cover;">
  <div class="container">
    <div class="row">
      <div class="col col-md-4">
        <h2>
          <span>We are waiting for.....</span> The adventure</h2>
      </div>
      <div class="col col-md-7 col-md-offset-1">
        <div class="count-down-clock">
          <div id="clock">
            <div class="box">
              <div>{{days}}</div>
              <span>Days</span>
            </div>
            <div class="box">
              <div>{{hours}}</div>
              <span>Hours</span>
            </div>
            <div class="box">
              <div>{{minutes}}</div>
              <span>Mins</span>
            </div>
            <div class="box">
              <div>{{seconds}}</div>
              <span>Secs</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</section>
