<!-- <ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <img [src]="images[0]" alt="Random first slide">
    <div class="carousel-caption">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[1]" alt="Random second slide">
    <div class="carousel-caption">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <img [src]="images[2]" alt="Random third slide">
    <div class="carousel-caption">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </ng-template>
</ngb-carousel> -->

<div class="fixed-sn">
  <div class="col-lg-10 ml-auto mr-auto">
      <mdb-carousel [interval]="myInterval" [noWrap]="noWrapSlides" [(activeSlideIndex)]="activeSlideIndex" (activeSlideChange)="activeSlideChange($event)">
        <mdb-carousel-item *ngFor="let slide of slideArr; let index=index">
          <img [src]="slide.image">
          <div class="carousel-caption">
            <h4>Slide {{index}}</h4>
            <p>{{slide.text}}</p>
          </div>
        </mdb-carousel-item>
      </mdb-carousel>
  </div>
</div>
